<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Edoardo DC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB4ABDE91C14552F00935DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4ABDFD1C14552F00935DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4ABE081C14552F00935DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
